.p7b {
    background-color: #126d38;
    color: white;
    font-size: 13px;
    padding: 40px 180px;
}
h3 {
    font-size: 20px;
}
ul{
    list-style: none;
    cursor: pointer;
}
.p7c {
    border-right: 2px solid white;
}
.p7c p {
    text-align: justify;
}

@media (max-width: 900px) {
    .p7b {
        background-color: #126d38;
        color: white;
        font-size: 13px;
        padding: 40px 80px;
    }
    h3 {
        font-size: 20px;
    }
    ul{
        list-style: none;
    }
    .p7c {
        border-right: 0px solid white;
    }
}
